.FullBox{
    width: 100vw;
    height: 100vh;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/acb65873426833.5c08f5634f7fb.png');
    background-size: cover;
    color: rgb(255, 255, 255);
}
.navBar{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 20px;
    height: 10vh;
    background-color:rgb(37, 150, 190);
}
.navBar > div >h2{
    font-size: 1.5rem;
  font-weight: 700;
  gap: 0.5rem;
}
.navBar > div >h2>img{
    height: 3rem;
  width: 4rem;
}
.navBar > div >p{
    margin: 0px;
}
.meetContainer{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    height: 70vh;
    gap: 5vw;
}
.leftPanel{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top:15vw; */
    margin-left: 3rem;
    margin-top: 5rem;
}
.rightPanel{
    display: flex;
    
}
.rightPanel > img{
    height:80vh;
    margin-right: 3rem;
}

@media(max-width:500px){
    .hislogout{
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        margin: 0 !important;
    }

    .hislogout button{
        padding: 0 !important;
        margin: 0 !important;
        height: 1.5rem !important;
        font-size: 0.9rem !important;
    }

    .rightPanel img{
        width: 100% !important;
        height: 50vh;
        margin: 0 !important;
    }

    .meetContainer{
        display: flex !important;
        flex-direction: column !important;
        height: 90vh !important;
    }

    .leftPanel{
        display: flex !important;
        flex-direction: column;
        margin: 1rem 0 0 0  !important;
    }

    .leftPanel h1{
        font-size: 1.5rem !important;
    }

    .card{
        margin-top: 1rem !important;
    }
}