.lobbycontainer{
    width: 100vw;
  height: 100vh;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/acb65873426833.5c08f5634f7fb.png');

  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}
.lobbycontainer h2{
    margin-top: 0px;
    color: black;
    text-align: center;
    padding-top: 20px;
    font-size: 1.8rem;
}

.lobbyUser{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;     
}
.lobbyUser>video{
    border-radius: 28px;
    height: auto;

}
.lobbyConnect{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-block: 1.5rem;
}

.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: rgb(237, 237, 237);

}

.meetUserVideo{
    position: absolute;
    bottom: 11vh;
    width: 15rem;
    border-radius: 30px;
    left: 1rem;

}


.buttonContainers{
    display: flex;
    position: absolute;
    width: 100%;
    height: 4.5rem;
    bottom: 0;
    text-align: center;
    justify-content: center;
    background-color: rgb(48, 47, 47);
}

.buttonContainers svg{
    font-size: 3.2rem;
}

.conferenceView{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height:63vh;
    overflow-y: scroll;
}

.conferenceView > div > video{
    width: 17rem;
    border-radius: 25px;
    margin-left: 1.2rem;
    margin-top: 1rem;
}

.chatRoom{
    position: absolute;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/acb65873426833.5c08f5634f7fb.png');
    height: 90vh;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    padding-inline: 20px;
    right: 0;

}

.chatContainer{
    position: relative;
    height: 67vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

.chattingArea{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2vh;
}



@media(max-width:500px){

    .lobbycontainer{
        height: 100vh !important;
    }

    .lobbyConnect div{
        padding: 0 0.7rem 0 0 !important;
    }

    .lobbycontainer{
        padding-top: 6rem ;
    }

    .lobbyUser video{
        width: 90vw !important;
        border-radius: 2rem !important;
    }

    .meetVideoContainer{
        height: 100vh !important;
        display: flex !important;
        flex-direction: column;
        overflow-y: scroll !important;
    }

    .chatRoom{
        position: relative !important;
        width: 90vw !important;
        height: 50vh !important;
    }

    .chatContainer{
        height: 23.7vh !important;
        overflow-y: scroll !important;
    }

    .chatContainer div p{
        margin: 0 !important;
    }

    .chatRoom h1{
        font-size: 1.5rem;
    }

    .buttonContainers{
        height: 8vh !important;
    }

    .chattingArea{
       height: 3rem !important;
    }

    .chattingArea div{
        height: 3rem !important;
    }

    .buttonContainers svg{
        font-size: 2.5rem !important;
    }

    .meetUserVideo{
        height: auto !important;
        width: 45vw !important;
        position: absolute !important;
    }

    /* .conferenceView{
        width: 100vw !important;
        height: 66vh !important;
        display: flex !important;
        flex-wrap: wrap !important;

    } */

    .conferenceView{
        width: 100vw !important;
        height: 66vh !important;
        display: flex !important;
        flex-wrap: wrap !important;
        overflow-y: scroll !important;


    }

    .conferenceView div{
        width: 35vw !important;
        height: 20vh !important;
        margin-right: 3rem !important;
    }

    .conferenceView video{
        height:auto !important;
        width: 24vh !important;
        position: absolute;

    }

}
