.LandingPageContainer{
  height: 100vh;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/acb65873426833.5c08f5634f7fb.png');
  background-size: cover;
  color: rgb(255, 255, 255);
}

.LandingPageContainer nav{
  padding-inline: 1.2rem;
  /* padding-block: 1.6rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.LandingPageContainer nav h2{
  font-size: 1.5rem;
  font-weight: 700;
}

.LandingPageContainer nav img{
  height: 3rem;
  width: 3.5rem;
}

.LandingPageContainer nav .navList{
  display: flex;
  gap:  1.6rem;
  font-weight: 500;
  font-size: 16px;
  color:white;
  cursor: pointer;

}

.LandingPageContainer nav .navList p:hover{
  font-size: 17px;
}

.LandingMainContainer{
  display: flex;
  justify-content: space-evenly;
  padding-inline: 4rem;
   align-items: center;
}
.LandingMainImage img{
  height: 75vh;

}

.GetStartedButton {
  color: white;
  text-decoration: none;
  background-color: #54504c;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1.4rem;
  text-align:center;
}

.GetStartedButton:hover{
  font-size: 1.15rem;
}


.bothbuttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -30px;
}

.css-9y1wof-MuiPaper-root-MuiCard-root {
  background-color: black;
  opacity: 0.6;
}


@media(max-width:500px){
  .LandingPageContainer .navList{
    display:flex;
    flex-direction: column;
    gap:0 !important;
    margin: 0;
    padding: 0;
  }


.LandingPageContainer nav{
    height:75px;
    padding-right:1rem !important;
  }

  .LandingPageContainer .navList p{
    margin:0;
    font-size: 0.9rem;

  }

  .LandingMainContainer{
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .LandingMainContainer div{
    margin: 0 2rem !important;
  }

  .LandingMainContainer div h1,.LandingMainContainer div h1 span{
    width: 100%;
    margin: 1.5rem 0 1.5rem 0 !important;
    font-size: 1.5rem !important ;

  }

  .LandingMainContainer .cardBody{
    margin: 0 !important;
    min-width: 100 !important;

  }

  .LandingMainContainer .cardBody .Card{
    margin: 0 !important;
    min-width: 300px !important;
    height: 160px !important;
  }

  .LandingMainContainer .cardBody .cardContent{
    margin: 0 !important;
   }

   .LandingMainContainer .cardBody .cardContent p{
    margin: 0 0 12px 0 !important;
   }

  .LandingMainContainer .bothbuttons {
    margin: 0 !important;
    padding: 0 !important;
    gap: 0.1rem;

  }

  .LandingMainContainer .bothbuttons .GetStartedButton{
    font-size: 1rem !important;
    padding: 0.6rem !important;
    margin: 0 !important;
  }


  .LandingMainImage img{
    margin-top: 1.5rem !important;
    width: 100% !important;
    height: 35vh !important;
  }
 
 
}